<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="bootstrap.min.css">
	 <script src="bootstrap.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	 <script src="js/jquery.paginate.js"></script>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	 <script>
	 
	 </script>

</head>
<style>
  @font-face {
    font-family: Myriad Pro;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}
 @font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.otf);
}
h2,h3,h4,h1,h5{
	font-family:MyriadPro;
}
	.bannerFaq{
		background-image: url('images/Layer-3-copy.jpg');
		width:100%;
		max-width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
text-align: center;
line-height: 450px;
	}
	
.searchbarr{
	vertical-align: middle;
line-height: normal;
display: inline-block;
}
.inpt{
	width: 500px !important;
	background: rgba(134, 133, 133, 0.59);
	border-radius: 50px;
	height: 64px;
	border: 0px;
	color:#fff;
	font-size: 30px;
}
.Emaill{
	padding: 0px 55px;
	border-radius: 50px;
	z-index: 1000;
	background: #8bc641;
	border: 0px;
}
#inpt::-webkit-input-placeholder {
   color: #fff;
   font-size: 30px; 
}

#inpt:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
    font-size: 30px;  
}

#inpt::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
    font-size: 30px; 
}
.bannerhedding{
	color:#fff;
}
.bannerhedding h1{
margin-left: 9%;	
}

#inpt:-ms-input-placeholder {  
   color: #fff; 
    font-size: 30px;  
}
.serching{
	position: relative;
}
.emlbtn{
	position: absolute;
	right: -121px;
	z-index: 1001;
}
.second{
	position: relative;
	background: #f4f4f4;
}
.tiltleFewAns{
position: absolute;
border: 1px solid #ddd;
width: 62%;
text-align: center;
top: -19px;
background: #fff;
left: 18%;
border-radius: 5px;
color:#8c8b8b;
}
.Answers{
	margin-top: 150px;

}
.Answers h2{
	color:#8cc63f;
	font-weight: 800;
}
.Answers h4{
	color:#575757;
	padding:20px 0px;

}
ul.faAnswers li{
	border-bottom: 1px solid rgb(209, 209, 209);
padding-bottom: 25px;
padding-top: 25px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color:#8CC63F;
    font-size: 28px;
}
ul.pagination li a.active {
    color: white;
}
.pagination > li > a, .pagination > li > span {
	color:#9d9d9d!important;
	border:0px;
	 font-size: 28px;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.active a{
	background-color:#8CC63F !important;
	color:#fff !important;
}
</style>
<body>
	<div class="bannerFaq text-center">
		<div class="container">
			<div class="searchbarr">
				<div class="bannerhedding">
					<h1>Finding Answer for Your Question<span style="color:#8cc63f"> Just Got Easier</span></h1>
				</div>
				<form class="navbar-form">
			        <div class="form-group" style="display:inline;">
			          <div class="input-group">
			          	<div class="serching">
			          		<input class="form-control inpt" type="text" placeholder="What&#39;s your Question About"id="inpt">
			          		<div class="emlbtn">
			          			 <button type="button" class="btn btn-success btn-lg Emaill"><h2>Email</h2></button>
			          		</div>
			          	</div>
			          </div>
			        </div>
			    </form>
			</div>
		</div>
	</div>
	<div class="second">
	<div class="container">
		<div class="tiltleFewAns">
			<h2>Here&#39;s a few answers to our most common questions</h2>
		</div>
		<div class="Answers">
		<ul id="mypage" class="list-unstyled faAnswers">
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What isf sdf s  Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What f sd fs is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What fsd fsd fsd is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What dfsfsdfs is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What isf sdf s  Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What f sd fs is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What fsd fsd fsd is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			<li>
				<h2>
					What dfsfsdfs is Help Organizations Hunt, Block and Remove plots though
					Bookmyplot ?
				</h2>
				<h4>
					BOOKMYPLOTS; Mar.22 2016 &#45; booking (NYSE: ACN) formed a new alliance relationship with Endgame Inc. &#45; a provider of cybersecurity software solutions to actively hunt adversaries &#45;to integrate the companys sophisticated capabilities with Accentures cyber defense services. As part of the relationship, Accenture has also taken an equity position in Endgame. Terms of the investment were not disclosed.
				</h4>
			</li>
			
		</div>
		<div class="paginationNav">
		<center>
			<ul class="pagination text-center">
				
			  <li class="prev"><a >&#60;</a></li>
			  <li id="pagenumber" class="next"><a>&#62;</a></li>
			</ul>
		</center>
			
		</ul>
		</div>
	</div>
		
	</div>
</body>
</html>
<script>
$(document).ready(function(){
    var numpag = ($('#mypage').children().length/10).toString();
    var temp = numpag.split('.');
    var str = '';
    if(temp[1]){
	   pages = parseInt(temp[0])+1;
    }else{
	   pages = parseInt(temp[0]);
    }
   for(var i = 1;i<=pages ;i++){
       var str =str + "<li class='pages' value='"+i+"'><a>"+i+"</a></li>" ;
   }
    $('#pagenumber').prepend(str);
    $.each($('#mypage').children(),function(key,val){
    	if(key > 9){
           $(this).css('display','none');
    	}
    });
    $('.pages').first().addClass('active');
});
	$('.pagination').on('click','.pages',function(){
		$('.active').removeClass('active');
		$(this).addClass('active');
		var pagnum = $(this).val();
		page_start = (pagnum-1)*10;
		page_end = page_start+10;
		$.each($('#mypage').children(),function(key,ele){
			if(key > page_start && key < page_end){ 
                $(this).css('display','block');
			}else{
				$(this).css('display','none');
			}
		});   
	});
	$('.next').on('click',function(){
		var page = $('.active').val();
		var test = $('.active');
		test.next().addClass('active');
		test.next().css('background-color','#8CC63F');
		test.removeClass('active');
		start_page = page*10;
		end_page = start_page+10;
		$.each($('#mypage').children(),function(key,ele){
			if(key > start_page && key < end_page){ 
                $(this).css('display','block');
			}else{
				$(this).css('display','none');
			}
		});
	});
	$('.prev').on('click',function(){
         var page = $('.active').val();
         var test = $('.active');
		test.prev().addClass('active');
		test.prev().css('background-color','#8CC63F');
		test.removeClass('active');
		start_page = (page-1)*10;
		end_page = start_page+10;
		$.each($('#mypage').children(),function(key,ele){
			if(key > start_page && key < end_page){ 
                $(this).css('display','block');
			}else{
				$(this).css('display','none');
			}
		});
	});

</script>